# upstream tensorflow/serving version
build --embed_label=2.3.0

build --verbose_failures
# enable proper toolchain resolution for cc rules
build --incompatible_enable_cc_toolchain_resolution

build -c opt
build --copt=-O3

# disable diagnostics warning outputs for release builds
build:release --copt=-w
build:release --output_filter=DONT_MATCH_ANYTHING

# protobuf / grpc build options
build --define=use_fast_cpp_protos=true
build --define=allow_oversize_protos=true
build --define=grpc_no_ares=true

# build with shared gnu libstdc++ instead of static libc++
build:gnulibcpp --@com_github_emacski_bazeltools//toolchain/cpp/clang:use_libcpp="libstdc++"
build:gnulibcpp --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0

build:linux_amd64 --platforms=//:linux_amd64

build:linux_arm64 --platforms=//:linux_arm64
# for boringssl
build:linux_arm64 --crosstool_top=@com_github_emacski_bazeltools//toolchain/cpp/clang:toolchain
build:linux_arm64 --cpu=aarch64

build:linux_arm --platforms=//:linux_arm
# for boringssl
build:linux_arm --crosstool_top=@com_github_emacski_bazeltools//toolchain/cpp/clang:toolchain
build:linux_arm --cpu=arm

try-import %workspace%/.bazelrc.user
