# upstream tensorflow/serving version
build --embed_label=2.4.1

build --verbose_failures
# enable proper toolchain resolution for cc rules
build --incompatible_enable_cc_toolchain_resolution

build -c opt
build --copt=-O3

# disable diagnostics warning outputs for release builds
build:release --copt=-w
build:release --output_filter=DONT_MATCH_ANYTHING

# protobuf / grpc build options
build --define=use_fast_cpp_protos=true
build --define=allow_oversize_protos=true
build --define=grpc_no_ares=true

# platform config groups

build:linux_amd64 --platforms=@com_github_emacski_bazeltools//platform:linux_amd64
# boringssl requires legacy toolchain resolution
build:linux_amd64 --crosstool_top=@com_github_emacski_bazeltools//toolchain/cpp/clang:toolchain
build:linux_amd64 --cpu=k8

build:linux_arm64 --platforms=@com_github_emacski_bazeltools//platform:linux_arm64
# boringssl requires legacy toolchain resolution
build:linux_arm64 --crosstool_top=@com_github_emacski_bazeltools//toolchain/cpp/clang:toolchain
build:linux_arm64 --cpu=aarch64

build:linux_arm --platforms=@com_github_emacski_bazeltools//platform:linux_arm
# boringssl requires legacy toolchain resolution
build:linux_arm --crosstool_top=@com_github_emacski_bazeltools//toolchain/cpp/clang:toolchain
build:linux_arm --cpu=arm

try-import %workspace%/.bazelrc.user
